<ion-header>
  <ion-toolbar>
    <ion-title>Bienvenida</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>

  <main class="app">

    <section class="screen bienvenida-screen">

      <!-- Logo -->
      <div class="logo">
        <img class="logo-img" src="assets/logo.jpg" alt="NutriPlus Logo" />
        NutriPlus
      </div>

      <div class="welcome-space"></div>

      <!-- Hero -->
      <div class="hero">

        <h1>
          Tu asistente inteligente de salud
        </h1>

        <p>
          Lleva un seguimiento de tus alimentos y condición física para tu bienestar.
        </p>

      </div>

      <!-- Card -->
      <div class="card">

        <h2 class="title">
          Cuida tu salud con IA
        </h2>

        <p class="subtitle">
          Responde preguntas rápidas y recibe recomendaciones generales.
          No sustituye una consulta médica profesional.
        </p>

        <a
          class="btn"
          routerLink="/login"
        >
          Comenzar
        </a>

        <a
          class="small-link"
          routerLink="/registro"
        >
          Crear una cuenta nueva
        </a>

      </div>

    </section>

  </main>

</ion-content>